<!-- style="padding-left: 30%;" -->
     <div class="row" class="bg-dark text-white" >  
        <div class="col-12" >  
         
                      <div class="col-md-6">
                      <h1 style="text-align: center;">Registration Form</h1>
  
                         </div>         
     
                    <label class="form-label" for="name" > Name : </label>
                        <div class="row g-3">
                          <div class="col-md-3"  >
                            <input type="text"  class="form-control" placeholder="FirstName" aria-label="FirstName"  required >
                          </div>
                          <div class="col-md-3">
                            <input type="text"  class="form-control" placeholder="LastName" aria-label="LastName" required >
                          </div>
                        </div>
          <br>
                 
                   <div class="col-md-6">
                      <label class="form-label" for="fathername">FatherName : </label>    <br>                 
                        <input type="text" class="form-control" aria-describedby="basic-addon1" required >
                      </div>
                      
                     <br>
  
                     <div class="col-md-6">
                      <label class="form-label" for="contactnumber" > ContactNumber : </label>    <br>                 
                        <input type="number" class="form-control" aria-describedby="basic-addon1"required >
                      </div>
                      
                    <br>
 
                    <div class="col-md-6">
                      <label for="Email" class="form-label" >EmailAddress : </label>
                      <input type="email" class="form-control" id="Email" placeholder="name@example.com" required >
                    </div>
  
                    <br>
  
                    <div class="col-md-6">
                      <label for="dob" class="form-label">DateOfBirth : </label>
                      <input type="date" class="form-control" id="dob" required  >
                    </div>
  
                    <br>
  
                      <div class= "col-md-6">
                      <label for="gender" class="form-label" >Gender : </label>
                      <select id="gender" name="gender" class="form-control" id="gender" aria-current="true" required >
                        <option selected disabled>Choose...</option>
                        <option value="male">Male </option>
                        <option value="female">Female</option>
                        <option value="other">Other </option>
                       
                      </select>       
  
                    </div>
                    <br>
                    <div class="col-md-6">
                      <label for="JoinDate" class="form-label">JoinDate : </label>
                      <input type="datetime-local" class="form-control" id="JoinDate" required  >
                    </div>
                    <br>
                    <div class= "col-md-6">
                      <label for="Shift" class="form-label" >Shift : </label>
                      <select id="shift" name="shift" class="form-control" id="Shift" aria-current="true" required >
                        <option selected disabled>Select..</option>
                        <option value="first">9 A.M to 3 P.M</option>
                        <option value="second">3 P.M to 9 P.M</option>
                        <option value="third">All day </option>
                       
                      </select>       
  
                    </div>
                 <br>
                    <div class="col-md-6">
                      <label class="form-label" for="tablenumber" > TableNumber : </label>    <br>                 
                        <input type="number" class="form-control" aria-describedby="basic-addon1" required >
                      </div>
                      
                    <br>

                    <div class="col-md-6">
                      <label class="form-label" for="p-address" >ParmanentAddress : </label>    <br>                 
                        <input type="text" class="form-control" aria-describedby="basic-addon1" required >
                      </div>
                      <br>
  
                      <div class="col-md-6">
                        <label class="form-label" for="c-address">CurrentAddress : </label>    <br>                 
                          <input type="text" class="form-control" aria-describedby="basic-addon1" required >
                        </div>
                        <br>
  
                        <div class="row g-3">
                        <div class= "col-md-3"> 
                          <!-- <label class="form-label" for="pin">Pin Code : </label>                      -->
                          <input type="number"class="form-control" placeholder="PinCode" aria-label="PinCode" maxlength="6" required/>
                        </div>
  
                        <div class= "col-md-3"> 
                          <!-- <label class="form-label" for="city."> City : </label>                      -->
                          <input type="text" class="form-control" placeholder="City" aria-label="City" required/>
                          
                        </div> 
                      </div> 
                      <br>
                      <div class="row g-3">
                        <div class= "col-md-3"> 
                         <!-- <label class="form-label" for="state.">State : </label>                      -->
                          <input type="text"class="form-control" placeholder="State" aria-label="State" required/>
                          </div>
                          <div class= "col-md-3"> 
                          <!-- <label class="form-label" for="country.">Country : </label>                      -->
                          <input type="text" class="form-control" placeholder="Country" aria-label="Country" required/>
                          </div>
                        </div> 
  
                        <br> <br>
  
                   <div>
              <button >
                <a routerLink="/studentlist" style="color:black">Submit</a>
              </button>
                  </div>
  
             
    </div>    

  </div>
