

<div class="text-center">
  
     <!-- <button ng-click="AddRow()" class="btn btn xs btn primary" style="margin-top:-29px";float: right; margin-right: 9px; margin-bottom: 7px; >+Add</button> -->
    <h2>Student Deatails</h2> 
    
    </div>
    
    <div class="text-left"  style="margin-left:94%">
      <button class="btn btn-primary "  >
       <a routerLink="/student" style="color:white">Add</a>
      
    </button>
    
    </div>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">FirstName </th>
          <th scope="col">LastName </th>
          <th scope="col">FatherName</th>
          <th scope="col">ContactNumber</th>
          <th scope="col">EmailAddress</th>
          <th scope="col">DateOfBirth</th>
          <th scope="col">Gender</th>
          <th scope="col">ParmanentAddress</th>
          <th scope="col">CurrentAddress</th>
          <th scope="col">PinCode</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Country</th>
        </tr>
      </thead>
    
    </table>
    <br>
    <br>
     <div class="text-center">
      <button class="btn btn-primary btn-block">  Edit  </button>
               &nbsp; &nbsp;&nbsp; 
      <button class="btn btn-success btn-block">  Save  </button>
    
     </div>

    